body {
  margin: 0;
  padding: 0;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
}

/* Typo */
h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2.1875rem;
}

h3 {
  margin-bottom: 0;
}

p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 130%;
  font-size: 15px;
}

.logo {
  font-size: 2.5rem;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

aside {
  background-color: #333;
  color: #fff;
  width: 35vw;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 0.5rem;
}

.aside-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  background-image: url(./assets/bg-aside.png);
  background-size: cover;
  background-position: bottom center;
}

.aside-wrap h1 {
  text-align: center;
}

main {
  flex: 1;
  margin-left: 35vw;
}

.header {
  display: block;
  height: 100px;
  background-color: #fff;
  position: fixed;
  padding: 10px 70px;
  width: 100%;
  border-bottom: 1px #eee solid;
  z-index: 9;
}

.content-wrap {
  padding: 10px 70px;
  margin-top: 150px;
}

.list-item {
  background-color: #eee;
  margin-bottom: 30px;
  display: block;
  transition: ease-in-out all 0.2s;
}

.list-item p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

/* .list-item:hover {
  background: rgba(112, 255, 152, 0.2);
} */

/* .new-list-item {
  background: rgba(112, 255, 152, 0.2);
} */

.new-list-item:first-child {
  animation: backgroundColorChange 2s linear;
  background-color: #eee;
}

@keyframes backgroundColorChange {
  0% {
    background: rgba(112, 255, 152, 0.2);
  }
  100% {
    background: #eee;
  }
}

.list-item-content {
  padding: 0.5rem 2rem;
}

.form-wrap {
  margin-bottom: 8rem;
}

.custom-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 70%;
}

.custom-form input {
  display: flex;
}

.placeholder-invisible {
  opacity: 0;
}

input {
  padding: 1rem;
  display: block;
  width: 100%;
  max-width: calc(100% - 2rem);
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border: none;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
}

.custom-textarea {
  max-width: calc(100% - 36px);
  min-width: calc(100% - 36px);
  width: 100%;
  height: 50px;
  max-height: 20vh;
  min-height: 18px;
  padding: 16px 18px 19px 18px;
  font-size: 0.9rem;
  border: none;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 150%;
}

input:focus,
.custom-textarea:focus {
  outline: none;
}

/* Button */
.btn {
  height: 50px;
  display: flex;
  align-items: center;

  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: #70ff98;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
  transition: ease-in-out all 0.2s;
}

.btn::after {
  display: block;
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  background-image: url(./assets/icons/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: ease-in-out all 0.2s;
}

.btn:hover::after {
  right: 10px;
  background-color: #70ff98;
}

.btn:hover {
  background-color: #70ff98;
  padding-left: 30px;
}

.cbutton {
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  transition: ease-in-out 0.2s all;
  display: flex;
  font-size: 14px;
}

.cbutton img {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.cbutton:hover {
  opacity: 0.7;
}

.cbutton.thumb {
  width: 40px;
}

.user-actions {
  border-top: 1px solid #00000010;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.wrap-end {
  display: flex;
}

.wrap-end .cbutton {
  display: flex;
  margin-left: 30px;
}

.wrap-start {
  display: flex;
}

.wrap-start .cbutton {
  margin-right: 5px;
}

/* Toastify */

.Toastify__toast--success {
  background-color: #fff;
}

.Toastify__toast--success .Toastify__toast-body {
  color: #000;
}

.Toastify__toast--error .Toastify__toast-body {
  color: #000;
}

.Toastify__toast {
  border-radius: 0;
}

.Toastify__toast-body {
  font-size: 15px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
}

.Toastify__toast-progress-bar {
  background: #000;
}

/* Add this to your CSS */
.smooth-scroll {
  transition: scroll-behavior 0.5s ease-in-out;
}

.error {
  position: relative;
  top: -17px;
  font-size: 13px;
}
